<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon name="arrow-back-outline" *ngIf="!platform.is('ios')"></ion-icon>
        <ion-label *ngIf="platform.is('ios')">Back</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="mode == 'true' ">Delivery Home</ion-title>
    <ion-title *ngIf="mode == 'false'">Pick Up</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card>
        <ion-item lines="none" class="ion-no-padding">
          <ion-thumbnail>
            <img src="../../../assets/imgs/logo.jpg" width="100px">
          </ion-thumbnail>
          <div class="deliver-div" *ngIf="mode == 'true'">
            <ion-label *ngIf="homeDeliviry">Deliver in approx. {{homeDeliviry}}</ion-label>
            <ion-label *ngIf="homeDeliviry"></ion-label>
            <ion-label *ngIf="!homeDeliviry">You didn't pick an address</ion-label>
            <ion-label *ngIf="!homeDeliviry"></ion-label>
        </div>
        <div class="deliver-div" *ngIf="mode == 'false'">
          <ion-label >Welcome to our restaurant</ion-label>
          <ion-label >Pick a Date</ion-label>
      </div>
        </ion-item>
      </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngIf="mode == 'true'">
        <ion-text *ngIf="mode == true  " ><h5><strong>Deliver To</strong></h5></ion-text>
        <ion-card>
        <ion-item lines="none" *ngIf="isAnonymous == 'true'" >
          <ion-icon name="man-outline" slot="start"></ion-icon>
          <ion-input type="text" placeHolder="Your Name" [(ngModel)]="name">
          </ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="mode == 'true'" >
          <ion-icon name="home-outline" slot="start"></ion-icon>
          <ion-input type="text" placeHolder="Add an Address" [(ngModel)]="address" (focusout)="calculateDistance()">
          </ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="isAnonymous == 'true'" >
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="text" placeHolder="Your Email" [(ngModel)]="email">
          </ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="isAnonymous == 'true'">
            <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-input type="number" placeHolder="Your Phone Number" [(ngModel)]="phone">
          </ion-input>
        </ion-item>
      </ion-card>
      <ion-col size="12" *ngIf="deliverTime == 'false'">
        <ion-text ><h5><strong>Pick Time</strong></h5></ion-text>
      <ion-card>
        <ion-item lines="none"  >
          <ion-icon name="timer-outline" slot="start"></ion-icon>
          <ion-datetime [(ngModel)]="delivryTime" displayFormat="D MMM YYYY H:mm" minuteValues="0,15,30,45" [min]="min" [hourValues]='hours' ></ion-datetime>
        </ion-item>
      </ion-card>
      </ion-col>
      </ion-col>
      
      <ion-col size="12" *ngIf="mode == 'false'">
        <ion-text *ngIf="mode == true  " ><h5><strong>Deliver To</strong></h5></ion-text>
        <ion-card>
        <ion-item lines="none" *ngIf="isAnonymous == 'true'" >
          <ion-icon name="man-outline" slot="start"></ion-icon>
          <ion-input type="text" placeHolder="Your Name" [(ngModel)]="name">
          </ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="isAnonymous == 'true'" >
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="text" placeHolder="Your Email" [(ngModel)]="email">
          </ion-input>
        </ion-item>
        <ion-item lines="none" *ngIf="isAnonymous == 'true'">
            <ion-icon name="call-outline" slot="start"></ion-icon>
          <ion-input type="number" placeHolder="Your Phone Number" [(ngModel)]="phone">
          </ion-input>
        </ion-item>
      </ion-card>
      <ion-col size="12" *ngIf="deliverTime == 'false'">
        <ion-text ><h5><strong>Pick Time</strong></h5></ion-text>
      <ion-card>
        <ion-item lines="none"  >
          <ion-icon name="timer-outline" slot="start"></ion-icon>
          <ion-datetime [(ngModel)]="delivryTime" displayFormat="D MMM YYYY H:mm" minuteValues="0,15,30,45" [min]="min" [hourValues]='hours' ></ion-datetime>
        </ion-item>
      </ion-card>
      </ion-col>
      </ion-col>
    </ion-row>
          <!--

    <ion-row>
      <ion-col size="12">
        <ion-item lines="none" class="ion-no-padding">
        <ion-text slot="start"><h5><strong>Payment</strong></h5></ion-text>
        <ion-button slot="end" class="changeButton">Change</ion-button>
      </ion-item>
        <ion-card>
        <ion-item lines="none">
          <ion-icon name="logo-apple" slot="start" *ngIf="platform.is('ios')"></ion-icon>
          <ion-icon name="logo-android" slot="start" *ngIf="!platform.is('ios')"></ion-icon>
          <ion-label *ngIf="platform.is('ios')" > 
            Apple Pay
          </ion-label>
          <ion-label *ngIf="!platform.is('ios')" > 
            Android Pay
          </ion-label>
        </ion-item>
      </ion-card>

      </ion-col>
    </ion-row>
-->
    <ion-row id="last-row">
      <ion-col size="12">
        <ion-card style="text-align: center;">
      <ion-item lines="none">
          <ion-text  slot="start">Total</ion-text>
          <ion-text   slot="end" item-right><strong> {{this.currency}} {{totalPrice | number : '1.0-2'}}</strong></ion-text>
      </ion-item>
      <ion-button class="payButton" *ngIf="change== 'false' " [disabled]="address == '' && mode == 'true' && homeDeliviry == 'null' && (deliverTime =='true') " (click)="onSubmit()">
        <ion-label>Pay</ion-label>
      </ion-button>
      <ion-button class="payButton" *ngIf="change== 'true' " [disabled]="address == '' && mode == 'true'" (click)="onChange()">
        <ion-label>Pay</ion-label>
      </ion-button>
    </ion-card>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
