<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start" color="light">
      <ion-back-button (click)="back()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content #content>
  <div class="imgContainer">
    <ion-img src="{{cover}}" alt=""></ion-img>
  </div>

  <div class="mainContent">
    <div class="restContent">
      <div class="btnss">
        <div class="ratting">
          <ion-icon
            [name]="totalRatting >= 1 ? 'star-outline':'star'"
            [color]="totalRatting >= 1 ? 'warning':'medium'"
          >
          </ion-icon>
          <ion-icon
            [name]="totalRatting >= 2 ? 'star-outline':'star'"
            [color]="totalRatting >= 2 ? 'warning':'medium'"
          >
          </ion-icon>
          <ion-icon
            [name]="totalRatting >= 3 ? 'star-outline':'star'"
            [color]="totalRatting >= 3 ? 'warning':'medium'"
          >
          </ion-icon>
          <ion-icon
            [name]="totalRatting >= 4 ? 'star-outline':'star'"
            [color]="totalRatting >= 4 ? 'warning':'medium'"
          >
          </ion-icon>
          <ion-icon
            [name]="totalRatting >= 5 ? 'star-outline':'star'"
            [color]="totalRatting >= 5 ? 'warning':'medium'"
          >
          </ion-icon>
          ({{ratting}} {{'Rattings' | translate}})
        </div>
        <ion-label class="moreInfo" (click)="openDetails()"
          >{{'View more' | translate}}</ion-label
        >
      </div>
    </div>
    <div class="foodsContent">
      <ion-label class="cusine">{{getCusine(cusine)}}</ion-label>

      <div class="deliveryAddress">
        <img
          src="assets/pin.png"
          alt=""
          class="pin"
          style="margin-right: 10px;"
        />
        <p class="address">{{address}}</p>
      </div>
      
     
      <!-- <div class="vegSection">
              <ion-label>{{'Veg Only' | translate}}</ion-label>
              <ion-toggle color="success" mode="ios" (ionChange)="statusChange()" [(ngModel)]="veg"></ion-toggle>
            </div> -->
      <div *ngFor="let item of dummy">
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-thumbnail>
            <ion-label>
              <h3>
                <ion-skeleton-text
                  animated
                  style="width: 50%;"
                ></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 80%;"
                ></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text
                  animated
                  style="width: 60%;"
                ></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
      <div *ngFor="let cate of categories">
        <div *ngIf="cate.show">
          <ion-label class="cateTitle" [id]="cate.id">{{cate.name}}</ion-label>
          <ng-container *ngIf="cate.subcat.length>0">
            <div *ngFor="let sItem of cate.subcat">
              <div *ngIf="sItem.show">
                <div class="subCategoryName">
                  {{sItem?.name}}
                </div>
                <ng-container *ngFor="let item of foods;let i = index">
                  <div
                    class="card_div"
                    *ngIf="cate.id == item.cid.id   && sItem.id==item.subcategory "
                  >
                    <!-- {{sItem.id}} - {{item.subcategory}} -->
                    <!-- && sItem.id==item.subcategory -->
                    <div class="card">
                      <div class="mainCat">
                        <div class="proimgContainer">
                         <!-- <img [src]="item.cover" alt="" class="image_div" /> -->

                          <div class="cartBtns">
                            <div class="cartBtn" *ngIf="item.quantiy <= 0">
                              <ion-label class="btns" (click)="add(i,cate.name)"
                                >{{'Add' | translate}}</ion-label
                              >
                              <!-- <ion-button (click)="add(i)" size="small" expand="block" fill="outline" shape="round">
                                                              {{'Add' | translate}}
                                                            </ion-button> -->
                            </div>
                            <div class="cartBtn2" *ngIf="item.quantiy > 0">
                              <ion-button
                                (click)="removeQ(i)"
                                fill="clear"
                                size="small"
                              >
                                <ion-icon name="remove"></ion-icon>
                              </ion-button>
                              <p class="qunitity">{{item.quantiy}}</p>
                              <ion-button
                                (click)="add(i,cate.name)"
                                fill="clear"
                                size="small"
                              >
                                <ion-icon name="add"></ion-icon>
                              </ion-button>
                            </div>
                          </div>
                        </div>

                        <div class="desc_div">
                          <ion-label class="heading_lbl"
                            >{{item.name}}</ion-label
                          >
                          <div class="ratting">
                            <ion-icon
                              [name]="item.ratting >= 1 ? 'star-outline':'star'"
                              [color]="item.ratting >= 1 ? 'warning':'medium'"
                            >
                            </ion-icon>
                            <ion-icon
                              [name]="item.ratting >= 2 ? 'star-outline':'star'"
                              [color]="item.ratting >= 2 ? 'warning':'medium'"
                            >
                            </ion-icon>
                            <ion-icon
                              [name]="item.ratting >= 3 ? 'star-outline':'star'"
                              [color]="item.ratting >= 3 ? 'warning':'medium'"
                            >
                            </ion-icon>
                            <ion-icon
                              [name]="item.ratting >= 4 ? 'star-outline':'star'"
                              [color]="item.ratting >= 4 ? 'warning':'medium'"
                            >
                            </ion-icon>
                            <ion-icon
                              [name]="item.ratting >= 5 ? 'star-outline':'star'"
                              [color]="item.ratting >= 5 ? 'warning':'medium'"
                            >
                            </ion-icon>
                            ({{item.totalRatting ? item.totalRatting : 0}} .
                            {{'Rattings' | translate}})
                          </div>
                          <ion-label class="small_lbl">{{item.desc}}</ion-label>
                          <div class="price">
                            {{this.currency}} {{item.price}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <div>
 
      </div>
    </div>
  </div>

  <!-- <app-popover></app-popover> -->

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    (click)="presentPopover($event)"
  >
    <ion-fab-button color="light" mode="ios">
      <ion-icon name="list" color="primary"></ion-icon>
      <ion-label color="primary">{{'Filter' | translate}}</ion-label>
    </ion-fab-button>
  </ion-fab>
</ion-content>
<ion-footer *ngIf="totalItem >0">
  <ion-toolbar color="primary">
    <ion-label color="light">{{totalItem}} {{'ITEM' | translate}}</ion-label>
    <ion-label color="light"
      >{{this.currency}}{{totalPrice}} {{'plus taxes' | translate}}</ion-label
    >
    <ion-button (click)="viewCart()" slot="end" fill="clear" color="light">
      <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
      {{'View Cart' | translate}}
    </ion-button>
  </ion-toolbar>
</ion-footer>
